<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
					<% 
					if (pid) {
				  var image_src = data[pid - 1].img_src;
					}
					else {
						var image_src = "../resources/img/helmet.jpg"
					}
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
										 but will display the player's name-->
										 
								<% 
								if (data) {
									var players = '';

									data.forEach(function(item){

										players +=  '<option value="' + item.id + '">' + item.name + '</option>'
					
										 });
								%>
								<%- players %>
								<% } %>
								%>
								
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>
								<%
								if (pid) {
									var year = data[pid - 1].year;
									%>
									<%- year %>
								<% } %>
							</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>
								<%
								if (pid) {
									var major = data[pid - 1].major;
									%>
									<%- major %>
								<% } %>
							</td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>
								<%
								if (pid) {
								%>
								<%- games_played %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td>Passing Yards: <%
								if (pid) {
									var passing_yards = data[pid - 1].passing_yards;
									%>
									<%- passing_yards %>
								<% } %></td>
							<td>Avg. Passing Yards: <%
								if (pid) {
									var avg_passing = Math.round((data[pid - 1].passing_yards)/games_played * 10) / 10;
									%>
									<%- avg_passing %>
								<% } %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%
								if (pid) {
									var rushing_yards = data[pid - 1].rushing_yards;
									%>
									<%- rushing_yards %>
								<% } %></td>
							<td>Avg. Rushing Yards: <%
								if (pid) {
									var avg_rushing = Math.round((data[pid - 1].rushing_yards)/games_played * 10) / 10;
									%>
									<%- avg_rushing %>
								<% } %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%
								if (pid) {
									var receiving_yards = data[pid - 1].receiving_yards;
									%>
									<%- receiving_yards %>
								<% } %></td>
							<td>Avg. Receiving Yards: <%
								if (pid) {
									var avg_rec = Math.round((data[pid - 1].receiving_yards)/games_played * 10) / 10;
									%>
									<%- avg_rec %>
								<% } %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>